<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Above is how we link our style sheet. url_for creates a url based on the static folder, and file name given -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <!-- Above is how we link our JS file. Make sure that you understand why we use defer -->
    <title>Recipe Share</title>
</head>
<body>
    <div>
        <h1>Add a New Recipe!</h1>
        <div>
            <a href="/recipes">back to recipes</a>
            <a href="/user/logout">logout</a>
        </div>
    <div>
        <div class="credflash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}                    
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="center">
            <form action="/recipes/create" method="post">
                <input type="hidden" name="user_id" value="{{ session.user_id }}">
                <label class="marg"> Name:
                    <input type="text" name="name">
                </label>
                <label class="marg">Description:
                    <textarea name="description" cols="30" rows="10"></textarea>
                </label>
                <label class="marg">Instructions:
                    <textarea name="instructions" id="" cols="30" rows="10"></textarea>
                </label>
                <label class="marg">Date Cooked/Made:
                    <input type="date" name="date_made">
                </label>
                <label class="marg">
                    <input type="radio" name="under" value="yes" checked>Yes
                </label><br>
                <label class="marg">
                    <input type="radio" name="under" value="no">No
                </label><br>
                <input type="submit" id="register" value="submit">
            </form>
        </div>
    </div>
</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->